<div class="page-character-info">
    <div class="page-character-info__header">
        <div class="page-character-info__header-text">
            {{characters.first_name}}   {{characters.last_name}}
        </div>
    </div>
    <div class="page-content">
        <div class="page-content__card">
            <div class="page-content__header">
                <img class="page-content__img" src=" {{characters.imagesPath}}" alt="">
                <div class="page-content__name">
                    <div>
                        <div class="page-content__label"> Фамилия</div>
                        <div class="page-content__text">{{characters.last_name}}</div>
                    </div>
                    <div>
                        <div class="page-content__label"> Имя</div>
                        <div class="page-content__text">{{characters.first_name}}</div>
                    </div>
                    <div>
                        <div  class="page-content__label"> Отчество</div>
                        <div class="page-content__text">{{characters.patronymic}}</div>
                    </div>
                </div>
            </div>

            <div class="page-content_personal">
                <div>
                    <div class="label"> Статус</div>
                    <div class="text" [ngStyle]="{'background-color': characters.color}">{{characters.status}}</div>
                </div>

                <div>
                    <div  class="label"> Роль</div>
                    <div class="text">{{characters.role}}</div>
                </div>
                <div>
                    <div  class="label"> Возраст</div>
                    <div class="text">{{characters.age}}</div>
                </div>
                <div>
                    <div class="label"> Раса</div>
                    <div class="text">{{characters.race}}</div>
                </div>
                <div>
                    <div class="label"> Пол</div>
                    <div class="text">{{characters.gender}}</div>
                </div>
            </div>
            <div class="page-content_personal">
                <div>
                    <div class="label"> Страна рождения</div>
                    <div class="text">{{characters.born_state}}</div>
                </div>
                <div>
                    <div  class="label"> Город рождения</div>
                    <div class="text">{{characters.born_city}}</div>
                </div>
                <div>
                    <div class="label"> Религия</div>
                    <div class="text">{{characters.religion}}</div>
                </div>
                <div>
                    <div class="label"> Бог покровитель</div>
                    <div class="text">{{characters.patron_god}}</div>
                </div>
            </div>
            <div class="page-content_personal-relatives">
                    <div class="page-content_row">
                        <div  class="label"> Отец</div>
                        <div class="text">{{characters.father}}</div>
                    </div>
                    <div class="page-content_row">
                        <div  class="label"> Мать</div>
                        <div class="text">{{characters.mother}}</div>
                    </div>
                    <div class="page-content_row">
                        <div  class="label"> Братья</div>
                        <div class="text">{{characters.brothers}}</div>
                    </div>
                    <div class="page-content_row">
                        <div  class="label"> Сестры</div>
                        <div class="text">{{characters.sisters}}</div>
                    </div>
                    <div class="page-content_row">
                        <div  class="label"> Друзья, близкие</div>
                        <div class="text">{{characters.relatives}}</div>
                    </div>
            </div>  
            <div class="page-content_personal">
                    <div class="page-content_row">
                        <div class="label"> Хобби</div>
                        <div class="text">{{characters.hobbies}}</div>
                    </div>
                    <div class="page-content_row">
                        <div class="label"> Цели</div>
                        <div class="text">{{characters.purpose}}</div>
                    </div>
                    <div class="page-content_row">
                        <div  class="label"> Квента</div>
                        <div class="text">{{characters.quenta}}</div>
                    </div>
            </div>
            <div class="page-content_capabilities">
                <div class="page-content_row" *ngFor="let capability of characters.capabilities; let i = index">
                    <div  class="label"> {{capability.name}}</div>
                    <div class="text">{{capability.value}}</div>
                </div>
            </div>
            <div class="page-content_personal">

                <div class="page-content_row">
                    <div class="label"> Игра</div>
                    <div class="text">{{characters.game}}</div>
                </div>
                <div class="page-content_row">
                    <div  class="label"> Дата создания</div>
                    <div class="text">{{characters.dateCreated}}</div>
                </div>
            </div>
               
        </div>
        </div>

</div>
