.page-character-info {
    margin-top: 1px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #292D32;
}
.page-character-info__header {
    margin-top: 1px;
    display: flex;
    margin: 5px;
    flex-direction: row;
    justify-content: right;
}
.page-content {
    flex: 1;
    background-color: #ffffff;
    overflow: auto;
    display: flex;
    justify-content: center;
}
.page-character-info__header-text{
    padding-right: 5px;
    color: #F1BD11;
}
.page-content__card{
    display: flex;
    flex-direction: column;
    width: 320px;
}
.label{
    color: #ffffff;
    padding: 5px;
}
.text{  
    display: flex;
    align-items: center;
    background-color: #d8d8d8;
    color: #000000;
    padding: 5px;
}
.page-content_personal{
    background: #292D32;
    margin-bottom: 15px;
}
.page-content_personal-relatives{
    background: #48a000;
    margin-bottom: 15px;
}
.page-content_capabilities{
    background-color: rgb(155, 70, 204);
}
.page-content__header{
    display: flex;  
    flex-direction: row;
}
.page-content__name{
    width: 240px;
}
.page-content__label{
    padding: 5px;   
    background: #000000;
    color: #ffffff;
}
.page-content__text{
    padding: 5px;
    background: #fffde2;
    color: #3d3d3d;
}
.page-content__img{
    width: 80px;
    height: 144px;
    margin-bottom: 15px;
}
/* .footer {
    display: flex;
    justify-content: center;
    background-color: #000000;
    font-size: 10px;
    padding: 5px;
    color: #FFF;
} */