.transfer{
    margin-top: 1px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #292D32;
}
.transfer__header {
    margin-top: 1px;
    display: flex;
    margin: 5px;
    flex-direction: row;
    justify-content: right;
}