<div class="page-not-found">
    <div class="page-not-found__content">
        <div class="page-not-found__text">
            Страницу украли даэдра!
        </div>
        <button class="page-not-found__go-home" (click)="onSelectMenu('/character')">
            вернуться домой, пока не съели!
        </button>
    </div>
</div>