.page-not-found{
   height: 100%;
}
.page-not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.page-not-found__text{
    font-size: 28px;
    color: #CD9F64;
    padding-top: 15px;
    margin-bottom: 50px;
}
.page-not-found__go-home{
    width: 300px;
    height: 50px;
    background: #F1BD11;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}