.page-login{
    display: flex;
    justify-content: center;
    padding: 40px 40px 0 40px;
}
.form-group{
    margin: 15px 0 22px 0;
}
.form-control{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
.page-login__button{
    width: 300px;
    height: 50px;
    background: #F1BD11;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.restore-button{
    color: #CD9F64;
    padding-top: 15px;
    cursor: pointer;
}
.registration-button{
    color: #CD9F64;
    padding: 15px 0 15px 0;
    cursor: pointer;
}
.alert-danger{
    color: #D20000;
}