<div class="page-login">
<form
  *ngIf="!isLoggedIn"
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>

  <div class="form-group">

    <label for="email">Логин</label>

    <input
      type="text"
      class="form-control"
      name="email"
      [(ngModel)]="form.email"
      required
      #email="ngModel"
    />

    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="email.errors && f.submitted"
    >
      Введите почту!
    </div>

  </div>

  <div class="form-group">

    <label for="password">Пароль</label>

    <input
      type="password"
      class="form-control"
      name="password"
      [(ngModel)]="form.password"
      required
      minlength="6"
      #password="ngModel"
    />

    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="password.errors && f.submitted"
    >
      <div *ngIf="password.errors?.['required']">Необходимо ввести пароль!</div>
      <div *ngIf="password.errors?.['minlength']">
        Пароль должен быть не менее 6 символов!
      </div>
    </div>

  </div>

  <div class="form-group">
    <button class="page-login__button">
      Войти
    </button>
  </div>

  <div class="form-group">
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="f.submitted && isLoginFailed"
    >
      Ошибка: {{ errorMessage }}
    </div>
  </div>
  <div class="restore-button">
    Забыли пароль?
  </div>

  <div class="registration-button"  (click)="onSelectMenu('/register')">
    Регистрация
  </div>
</form>
<div>
  <div class="alert alert-success" *ngIf="isLoggedIn">
    Вы вошли как {{roles}}.
  </div>
  <div class="registration-button" *ngIf="isLoggedIn"  (click)="onSelectMenu('/character')">
    Перейти на главную страницу
  </div>
</div>


</div>