<div class="page">
  <div class="pages-sidenav" *ngIf="isLoggedIn&&showFiller">
    <div class="pages-sidenav__header">
        <img class="pages-sidenav__img" src="./../assets/icons/img_closed.png" alt="" (click)="showFiller = !showFiller">
    </div>
    <div class="pages-sidenav__border">
    </div>
    <div  class="pages-sidenav__content">
      <div class="pages-sidenav__button">
        <img src="./../assets/icons/img_news.png" alt="">
        <div class="pages-sidenav__name">Новости</div>
      </div>
      <div class="pages-sidenav__button" (click)="onSelectMenu('/character'); showFiller = !showFiller" >
        <img src="./../assets/icons/img_role.png" alt="">
        <div class="pages-sidenav__name">Персонаж</div>
      </div>
      <div class="pages-sidenav__button" (click)="onSelectMenu('/wallet'); showFiller = !showFiller">
        <img src="./../assets/icons/img_money.png" alt="">
        <div class="pages-sidenav__name">Кошелек</div>
      </div>
      <div class="pages-sidenav__button" (click)="onSelectMenu('/transfer'); showFiller = !showFiller">
        <img src="./../assets/icons/img_transfer.png" alt="">
        <div class="pages-sidenav__name">Денежный перевод</div>
      </div>
      <div class="pages-sidenav__border">
      </div>
      <div class="pages-sidenav__button" (click)="logout()">
        <img src="./../assets/icons/img_exit.png" alt="">
        <div class="pages-sidenav__name">выйти</div>
      </div>
    </div>
  </div>
  <div class="header">

    <div class="header-label">
      <div class="header-label__EF label">
        <img src="./../assets/icons/EF.png" alt="">
      </div>
      <div class="header-label__text label">
        <img src="./../assets/icons/label-text.png" alt="">
      </div>
    </div>

   <div class="header-authorization">
    <div class="user-label">
      <img src="./../assets/icons/user-circle.png" alt="">
    </div>
    <div class="header-authorization__name">
      {{currentUser}}
    </div>
    <div *ngIf="isLoggedIn" class="header-authorization__burger">
      <img src="./../assets/icons/burger.png" alt="" (click)="showFiller = !showFiller">
    </div>

   </div>
    
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <div  class="footer">
    We make games for "people"
  </div>

  
</div>