.page {
    min-width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #292D32;
}
.header {
    display: flex;
    margin: 5px;
    flex-direction: row;
    justify-content: space-between;
}
.header-label{
    margin-left: -15px;
    display: flex;
    flex-direction: row;
}
.label{
    margin-left: 15px;
}
.header-authorization{
    display: flex;
    flex-direction: row;
}
.header-authorization__name{
    height: 30px;
    max-width: 120px;
    margin: 0 10px 0 10px;
    display: flex;
    align-items: center;
    color: #FFF;
}
.main {
    flex: 1;
    background-color: #F5F6F8;
    overflow: auto;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: #000000;
    font-size: 10px;
    padding: 5px;
    color: #FFF;
}
.pages-sidenav {
    position: absolute;
    right:0;
    width: 300px;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    z-index: 100;
}
.pages-sidenav__header{
    display: flex;
    justify-content: right;
    height: 40px;
    padding: 10px;
}
.pages-sidenav__content{
    display: flex;
    flex-direction: column;
  }
.pages-sidenav__button{
    display: flex;
    padding: 5px;
    width: 300px;
    height: 40px;
}
.pages-sidenav__button:hover{
    background-color: #FFD43B;
}
.pages-sidenav__name{
    display: flex;
    align-items: center;
}
.pages-sidenav__border{
    width: 300px;
    height: 1px;
    background-color: #c9c9c9;
}
.pages-sidenav__img{
    height: 20px;
}