<div class="fixed">
    <div class="wallet__header">
        <div class="wallet__number">Ваш счет № 512345678912</div>
        <div class="wallet__character">Клавикус Вайл</div>
    </div>
    <div class="wallet__total">
        <div>
            {{total}}
        </div>
    </div>
</div>
<div class="wallet">
    <div class="wallet-card">
        <div *ngFor="let wallet of  wallets" class="card">
            <div>
                <div *ngIf="currentUser!==wallet.from" class="wallet-check" [ngStyle]="currentUser!==wallet.from ? {'color': '#49BF00'} : {'color': '#FF0000'}">{{wallet.from}}</div>
                <div *ngIf="currentUser===wallet.from" class="wallet-check" [ngStyle]="currentUser!==wallet.from ? {'color': '#49BF00'} : {'color': '#FF0000'}">{{wallet.to}}</div>
                <div class="wallet-message wallet-color">
                    {{wallet.message}} 
                </div>   
            </div>
           <div class="wallet-sum" [ngStyle]="currentUser!==wallet.from ? {'color': '#49BF00'} : {'color': '#FF0000'}">
                <div>
                    {{wallet.transfer}} 
                </div>
                <div class="wallet-date wallet-color">
                    {{wallet.date}} 
                </div>
            </div>
        </div>
    </div>
</div>
