.wallet{
    display: flex;
    justify-content: center;    
}
.fixed{
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 1px;
    background-color: #292D32;
    color: #F1BD11;
}
.wallet__header{
    display: flex;
    padding: 5px;
    justify-content: space-between;
}
.wallet-card{
    display: flex;
    flex-direction: column;
}
.card{
    width: 300px;
    height: 10px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
}
.wallet__header-text{
    margin-top: 5px;
    width: 300px;
    height: 30px;
    background: #292D32;
    color: #CD9F64;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wallet__total {
    background-color: #292D32;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFD43B;
    font-size: 36px;
}
.wallet-color{
    color: #929292;
    font-size: 11px;
}
