<div *ngIf="!isLoggedIn" class="page-new-character">
    <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">

        <div class="form-group">
            <label>Роль*</label>
            <input class="form-control" name="name" formControlName="role" />
              
            <div class="alert alert-danger"
                *ngIf="myForm.controls['role'].invalid && myForm.controls['role'].touched">
                Укажите роль
            </div>
        </div>

        <div class="form-group">
            <label>Фамилия</label>
            <input class="form-control" name="last_name" formControlName="last_name" />
        </div>

        <div class="form-group">
            <label>Имя*</label>
            <input class="form-control" name="first_name" formControlName="first_name" />
              
            <div class="alert alert-danger"
                *ngIf="myForm.controls['first_name'].invalid && myForm.controls['first_name'].touched">
                Укажите Имя
            </div>
        </div>
        
        <div class="form-group">
            <label>Отчество</label>
            <input class="form-control" name="patronymic" formControlName="patronymic" />
        </div>

        <div class="form-group">
            <label>Возраст*</label>
            <input class="form-control" type="number" name="age" formControlName="age" />
              
            <div class="alert alert-danger"
                *ngIf="myForm.controls['age'].invalid && myForm.controls['age'].touched">
                Укажите возраст  от 14 до 300 
            </div>
        </div>

        <div>Пол*</div>
        <div class="radio" >
            <input class="gender" label="Мужской" type="radio" formControlName="gender" value="male" >
            <input class="gender" label="Женский" type="radio" formControlName="gender" value="female">
            <input class="gender" label="Бесполый" type="radio" formControlName="gender" value="no_gender">
            <div class="alert alert-danger"
                *ngIf="myForm.controls['gender'].invalid && myForm.controls['gender'].touched">
                Выберите пол персонажа
            </div>
        </div>


        <div class="form-group">
            <label for="race">Раса*</label>
            <select id="race" class="form-control" formControlName="race">
             <option value="null">выберите</option>
             <option *ngFor="let race of races">{{race}}</option>
           </select>
           <div class="alert alert-danger"
                *ngIf="myForm.controls['race'].invalid && myForm.controls['race'].touched">
                Выберите расу
            </div>
        </div>
        
        
        <div class="form-group">
            <label for="born_state">Рожден в провинции*</label>
            <select id="born_state" class="form-control" formControlName="born_state">
             <option value="null">выберите</option>
             <option *ngFor="let state of states">{{state}}</option>
           </select>
           <div class="alert alert-danger"
                *ngIf="myForm.controls['born_state'].invalid && myForm.controls['born_state'].touched">
                Выберите провинцию рождения
            </div>
        </div>

        <div class="form-group">
            <label>Город рождения</label>
            <input class="form-control" name="born_city" formControlName="born_city" />
        </div>

        <div class="form-group">
            <label>Религия</label>
            <input class="form-control" name="religion" formControlName="religion" />
        </div>

        <div class="form-group">
            <label>Бог покровитель</label>
            <input class="form-control" name="patron_god" formControlName="patron_god" />
        </div>

        <div class="form-group">
            <label>Отец</label>
            <input class="form-control" name="father" formControlName="father" />
        </div>

        <div class="form-group">
            <label>Мать</label>
            <input class="form-control" name="mother" formControlName="mother" />
        </div>

        <div class="form-group">
            <label>Брат</label>
            <input class="form-control" name="brothers" formControlName="brothers" />
        </div>

        <div class="form-group">
            <label>Сестра</label>
            <input class="form-control" name="sisters" formControlName="sisters" />
        </div>

        <div class="form-group">
            <label>близкие, друзья</label>
            <input class="form-control" name="relatives" formControlName="relatives" />
        </div>

        <div class="form-group">
            <label>Хобби, увлечение</label>
            <input class="form-control" name="hobbies" formControlName="hobbies" />
        </div>

        <div class="form-group">
            <label>Цель</label>
            <input class="form-control" name="purpose" formControlName="purpose" />
        </div>

        <div class="form-group">
            <label>Квента</label>
            <textarea class="form-control textarea" name="quenta" formControlName="quenta"></textarea>
        </div>

        <div class="form-group">
            <label for="born_state">Рожден в провинции*</label>
            <select id="born_state" class="form-control" formControlName="born_state">
             <option value="null">выберите</option>
             <option *ngFor="let state of states">{{state}}</option>
           </select>
           <div class="alert alert-danger"
                *ngIf="myForm.controls['born_state'].invalid && myForm.controls['born_state'].touched">
                Выберите провинцию рождения
            </div>
        </div>

        <div class="form-group">
            <label for="born_state">Рожден в провинции*</label>
            <select id="born_state" class="form-control" formControlName="born_state">
                <option value="null">выберите</option>
             <option *ngFor="let state of states">{{state}}</option>
           </select>
        </div>

        <div class="form-group">
            <label for="born_state">Рожден в провинции*</label>
            <select id="born_state" class="form-control" formControlName="born_state">
                <option value="null">выберите</option>
             <option *ngFor="let state of states">{{state}}</option>
           </select>

        </div>

        <div class="pages-sidenav__border"></div>
        <div class="form-group">
            <label for="capabilities_1">Первая способность</label>
            <select id="capabilities_1" class="form-control" formControlName="capabilities_1">
             <option value="null">выберите</option>
             <option *ngFor="let capability of capabilities">{{capability}}</option>
           </select>
        </div>
        <div>Уровень Первой способности</div>
        <div class="radio">
            <input class="grade-student" label="Ученик" type="radio" formControlName="grade_1" value="1" >
            <input class="grade-master" label="Мастер" type="radio" formControlName="grade_1" value="2">
            <input class="grade-grandmaster" label="Грандмастер" type="radio" formControlName="grade_1" value="3">
        </div>

        <div class="pages-sidenav__border"></div>
        <div class="form-group">
            <label for="capabilities_2">Вторая способность</label>
            <select id="capabilities_2" class="form-control" formControlName="capabilities_2">
             <option value="null">выберите</option>
             <option *ngFor="let capability of capabilities">{{capability}}</option>
           </select>
        </div>
        <div>Уровень Второй способности</div>
        <div class="radio">
            <input class="grade-student" label="Ученик" type="radio" formControlName="grade_2" value="1" >
            <input class="grade-master" label="Мастер" type="radio" formControlName="grade_2" value="2">
            <input class="grade-grandmaster" label="Грандмастер" type="radio" formControlName="grade_2" value="3">
        </div>

        <div class="pages-sidenav__border"></div>
        <div class="form-group">
            <label for="capabilities_3">Третья способность</label>
            <select id="capabilities_3" class="form-control" formControlName="capabilities_3">
             <option value="null">выберите</option>
             <option *ngFor="let capability of capabilities">{{capability}}</option>
           </select>
        </div>
        <div>Уровень Третьей способности</div>
        <div class="radio">
            <input class="grade-student" label="Ученик" type="radio" formControlName="grade_3" value="1" >
            <input class="grade-master" label="Мастер" type="radio" formControlName="grade_3" value="2">
            <input class="grade-grandmaster" label="Грандмастер" type="radio" formControlName="grade_3" value="3">
        </div>

        <div class="pages-sidenav__border"></div>
        <div class="form-group">
            <label for="capabilities_4">Четвертая способность</label>
            <select id="capabilities_4" class="form-control" formControlName="capabilities_4">
             <option value="null">выберите</option>
             <option *ngFor="let capability of capabilities">{{capability}}</option>
           </select>
        </div>
        <div>Уровень Четвертой способности</div>
        <div class="radio">
            <input class="grade-student" label="Ученик" type="radio" formControlName="grade_4" value="1" >
            <input class="grade-master" label="Мастер" type="radio" formControlName="grade_4" value="2">
            <input class="grade-grandmaster" label="Грандмастер" type="radio" formControlName="grade_4" value="3">
        </div>

        <div class="form-group">
            <button class="page-new-character__button" [disabled]="myForm.invalid">
                Отправить
            </button>

        </div>
        <div class="page-new-character__reset" (click)="clearForm()">
            Очистить
        </div>
    </form>

</div>