.page-new-character{
    display: flex;
    justify-content: center;
    padding: 40px 40px 0 40px;
}
.form-group{
    margin: 15px 0 22px 0;
}
.form-control{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
.page-new-character__button{
    width: 300px;
    height: 50px;
    background: #F1BD11;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.alert-danger{
    color: #D20000;
}

.radio {
	border-radius: 3px;
	position: relative;
}

.radio input {
	width: 33%;
	height: 100%;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 4px 8px;
	color: #000000;
	font-size: 14px;
}

.gender:checked {
	background: #F1BD11;
	color: #000000;
}

.grade-student:checked {
    background: #9bf074;
}
.grade-master:checked {
    background: #11aaf1;
}
.grade-grandmaster:checked {
    background: #ac42f3;
}
.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}
.pages-sidenav__border{
    width: 300px;
    height: 1px;
    background-color: #c9c9c9;
}
.page-new-character__reset{
    margin: 20px 5px 20px 5px;
    color: #CD9F64;
}
.textarea{
    max-width: 320px;
    min-width: 320px
}