<div class="home-page">
  <div class="home-content">
    <button (click)="onSelectMenu('/list-сharacter')" class="home-content__button button">Выбрать персонажа</button>
    <button (click)="onSelectMenu('/new-character')" class="home-content__button button">Создать персонажа</button>
    <div (click)="onSelectMenu('/delete-character')" class="home-content__button text">Удалить персонажа</div>
  </div>
</div>