.home-page{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.home-content{
    display: flex;
    flex-direction: column;
}
.button{
    margin-top: 30px;
    width: 300px;
    height: 50px;
    background: #F1BD11;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.text{
    color: #CD9F64;
    padding-top: 25px;
}