
<div class="menu-option">
    <div class="wrapper">
        <div class="menu-back">
            <button class="menu-back__button button" (click)="onSelectMenu('/character')">Назад</button>
        </div>
        <div class="menu-filter">
            <button class="menu-back__button button" (click)="pressed()">Фильтр</button>
        </div>
        <div *ngIf="filterActive" class="menu-filter-option">
            
        </div>
    </div>
    <div class="list-character">
        <div class="character" *ngFor="let character of characters; let i = index" (click)="onSelectCharacter(character)">
            <div class="character-line" [ngStyle]="{'background-color': character.color}"></div>
            <div class="character-image">
                <img src="{{character.imagesPath}}"  alt="">
                
            </div>
            <div class="character-info">
                <div>     
                    <div class="character-info__name">{{character.last_name}}{{character.first_name}}{{character.patronymic}}</div>
                <div class="character-info__role">{{character.role}}</div>
            </div>
                <div class="character-info__status" [ngStyle]="{'background-color': character.color}">{{character.status}}</div>
                <div class="character-info__game-name">{{character.game}} - {{character.dateCreated}}</div>
            </div>
            <div class="character-side" [ngStyle]="{'background-color': character.color}" ></div>
           
        </div>

    </div>
</div>
