.menu-option{
    display: flex;
    justify-content: center;
}
.wrapper{
    background-color: #F5F6F8;
    position: fixed;
}
.button{
    margin-top: 5px;
    width: 300px;
    height: 30px;
    background: #292D32;
    color: #CD9F64;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu-filter-option{
    width: 300px;
    height: 200px;
    background: #292D32;
    color: #CD9F64;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.character{
    width: 300px;
    height: 80px;
    margin: 10px 15px 0 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
}
.list-character{
    margin: 70px 0 15px 0;
    display: flex;
    flex-direction: column;
}
.character-line{
    width: 5px;
    height: 80px;
    background: #FFD43B;
}
.character-image{
    width: 50px;
    height: 80px;
}
.character-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    height: 80px;
    padding: 5px;
}
.character-side{
    width: 16px;
    height: 80px;
    background: #FFD43B;
    border-radius: 0 4px 4px 0;
}
.character-info__name{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}
.character-info__role{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.character-info__game-name{
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #CD9F64;
}
.character-info__status{
    width: 100px;
    padding: 2px;
    background: #FFFFFF;
    border-radius: 4px;
    text-align: center;
}