.page-registration{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.form-group{
    margin: 5px 0 5px 0;
}
.form-control{
    width: 100%;
    padding: 15px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
}
.page-registration__button{
    width: 300px;
    height: 50px;
    background: #F1BD11;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.authorization-button{
    color: #CD9F64;
    padding-top: 15px;
}
.form-checkbox{
    margin: 0 5px 15px 0;
}
.alert-danger{
    color: #D20000;
}