<div class="page-registration">
 

    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="email">Почта/Логин</label>
        <input
          type="text"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          minlength="5"
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors?.['required']">Введите почту</div>
          <div *ngIf="email.errors?.['minlength']">
            Имя почты должно быть длиннее
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="last_name">Фамилия</label>
        <input
          type="last_name"
          class="form-control"
          name="last_name"
          [(ngModel)]="form.last_name"
          required
          last_name
          #last_name="ngModel"
        />
        <div class="alert-danger" *ngIf="last_name.errors && f.submitted">
          <div *ngIf="last_name.errors?.['required']">Введите фамилию</div>
          <div *ngIf="last_name.errors?.['last_name']">
            Ошибка фамилии обратитесь к администратору!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="first_name">Имя</label>
        <input
          type="first_name"
          class="form-control"
          name="first_name"
          [(ngModel)]="form.first_name"
          required
          first_name
          #first_name="ngModel"
        />
        <div class="alert-danger" *ngIf="first_name.errors && f.submitted">
          <div *ngIf="first_name.errors?.['required']">Введите имя</div>
          <div *ngIf="first_name.errors?.['first_name']">
            Ошибка имени обратитесь к администратору!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="patronymic">Отчество</label>
        <input
          type="patronymic"
          class="form-control"
          name="patronymic"
          [(ngModel)]="form.patronymic"
          required
          patronymic
          #patronymic="ngModel"
        />
        <div class="alert-danger" *ngIf="patronymic.errors && f.submitted">
          <div *ngIf="patronymic.errors?.['required']">Введите отчество</div>
          <div *ngIf="patronymic.errors?.['patronymic']">
            Ошибка отчетсва обратитесь к администратору!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors?.['required']">Введите пароль</div>
          <div *ngIf="password.errors?.['minlength']">
            Пароль должен быть не менее 6 символов
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="phone">Телефон</label>
        <input
          type="number"
          class="form-control"
          name="phone"
          [(ngModel)]="form.phone"
          required
          phone
          #phone="ngModel"
        />
        <div class="alert-danger" *ngIf="phone.errors && f.submitted">
          <div *ngIf="phone.errors?.['required']">Введите телефон</div>
          <div *ngIf="phone.errors?.['phone']">
            Ошибка, телефонный номер не принят, обратитесь к администратору!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="vk_id">vk_id</label>
        <input
          type="vk_id"
          class="form-control"
          name="vk_id"
          [(ngModel)]="form.vk_id"
          required
          vk_id
          #vk_id="ngModel"
        />
        <div class="alert-danger" *ngIf="vk_id.errors && f.submitted">
          <div *ngIf="vk_id.errors?.['required']">Введите номер ВК</div>
          <div *ngIf="vk_id.errors?.['vk_id']">
            Ошибка, номер ВК не принят, обратитесь к администратору!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="date_of_birth">Дата рождения</label>
        <input
          type="date"
          class="form-control"
          name="date_of_birth"
          [(ngModel)]="form.date_of_birth"
          required
          date_of_birth
          #date_of_birth="ngModel"
        />
        <div class="alert-danger" *ngIf="date_of_birth.errors && f.submitted">
          <div *ngIf="date_of_birth.errors?.['required']">Введите дату рождения!</div>
          <div *ngIf="date_of_birth.errors?.['date_of_birth']">
            Ошибка, дата не принята, обратитесь к администратору!
          </div>
        </div>
      </div>

      <div class="form-group">
        
        <input
          type="checkbox"
          class="form-checkbox"
          name="agreement"
          [(ngModel)]="form.agreement"
          required
          agreement
          #agreement="ngModel"
        />
        <label for="agreement">Соглашение на обработку данных</label>
        <div class="alert-danger" *ngIf="agreement.errors && f.submitted">
          <div  *ngIf="agreement.errors?.['required']">Необходимо ваше согласие на обработку данных</div>
          <div *ngIf="agreement.errors?.['agreement']">
            Ошибка, обратитесь к администратору!
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="page-registration__button">Зарегестрироваться</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Ошибка регистрации<br />{{ errorMessage }}
      </div>
      <div class="authorization-button"  (click)="onSelectMenu('/login')">
        Вернуться
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Регистрация прошла успешно!
    </div>
  </div>
